body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  background: #f9f9f9;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
ul.inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td {
  padding: 5px;
}