/**
 * Main styles
 *
 * Colors:
 *
 * #800080
 * #FF00FF
 * #00FF00
 * #008080
 * #0000FF
 * #00FFFF
 */

body {
  font-family: monospace;
  display: block;
  margin: 8px;
}
.top-bar {
  width: 100%;
  height: 3rem;
  background-color: #00FFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-bar-inner {
  padding-left: 2rem;
}

.top-bar-inner h1 {
  font-size: 1.2rem;
  font-weight: normal;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container .container-inner {
  padding: 0 2rem;
  flex: 1;
}

blockquote {
  border-left: .3rem solid black;
  padding-left: 1rem;
}

/**
 * INTROLOLO
 */

#hello {
  font-size: 1.5rem;
  font-weight: bold;
}

#intro-text {
  font-size: 1.2rem;
  font-weight: bold;
}

/**
 * Categories muahahaha
 */

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  text-transform: uppercase;
  background-color: #00FF00;
}

.category h2 {
  font-size: .8rem;
  font-weight: normal;
  padding-left: 1rem;
}

.category.code {
  background-color: #008080;
  color: #FFFFFF;
}

.category.musings {
  background-color: #FF00FF;
}

#categories .page {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

.category-container .page:last-child {
  border-bottom: 1px solid #000000;
  margin-bottom: 1rem;
}

#categories .page .page-inner {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

/**
 * Post
 */

.post-content {
  text-align: left;
  margin-top: 3rem;
}

#footer {
  height: 8rem;
  background-color: #0000FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icon {
  max-height: 6rem;
  margin: 0 1rem;
}


/**
 * Utils
 */

@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
