{{ partial "header.html" . }}
    <body>
      {{ partial "nav.html" . }}
        <section id="wrapper">
            <article>
                <header>
                    <h1>
                        {{ if .Site.Params.useDescriptionAsTitle }}
                            {{ .Description }}
                        {{ else }}
                            {{ .Title }}
                        {{ end }}
                    </h1>
                </header>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>

        </section>
      {{ partial "footer.html" . }}
    </body>
</html>
