<div class="col-xs-12 col-md">
  <h1>Latest Stuffzzz</h1>
  <div id="categories">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <div class="category-container">
        <div class="category {{ $name }}">
          <h2>{{ $name }}</h2>
        </div>
        {{ range first 3 $taxonomy.Pages }}
          <div class="page">
            <div class="page-inner">
              <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
