<div class="col-xs-12 col-md">
  <p id="hello">Hello 👋</p>
  <p id="intro-text">My name is Emil Hagbarth.</p>
  <p>I'm a tech savvy entrepenuer living in Denmark.</p>
  <p>I run a startup called <a href="https://pento.dk">Pento</a> along with my pal <a href="//twitter.com/jonasboegh">Jonas Bøgh</a>.</p>
  <p>I've done multiple <!--other-->startups in the past.</p>
  <p>I like (incomplete list):</p>
  <ul>
    <li>Progamming languages (Javascript, Go, Swift, Clojure).</li>
    <li>DevOps stuff (Docker and Kubernetes).</li>
    <li>Cooking (I make a mean Sauce Bearnaise).</li>
    <li>Occasionally mountainbiking.</li>
    <li>Silliness.</li>
    <li>Monospaced fonts.</li>
  </ul>
</div>
